#webinar_date_1i { width: 14%; }
#webinar_date_2i { width: 18%; }
#webinar_date_3i { width: 10%; }
#webinar_date_4i, #webinar_date_5i { width: 10%; }

#webinar_enddate_1i { width: 14%; }
#webinar_enddate_2i { width: 18%; }
#webinar_enddate_3i { width: 10%; }
#webinar_enddate_4i, #webinar_enddate_5i { width: 10%; }
